anyio==4.4.0
certifi==2024.7.4
chardet==5.2.0
defusedxml==0.7.1
fonttools==4.53.1
fpdf==1.7.2
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.7
pika==1.3.2
pillow==10.4.0
PyPDF2==3.0.1
python-dotenv==1.0.1
python-telegram-bot==21.4
sniffio==1.3.1
subtitle-parser==2.0.0
